*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
}

#navbar{
    box-shadow: 0px 1px 4px 0px #d1d1d1;
    position: fixed;
    background-color: white;
    z-index: 3;
}

.searchbar{
    display: flex;
    padding: 14px 24px 0px;
}

#searchbarbutton{
border: 1px #c7c7c7 solid;
border-radius: 50px;
border-color: white;
padding: 0px 4px;
box-shadow: 0px 1px 8px 1px #d1d1d1;
font-weight: 500;
color: black;
background-color: white;
display: flex;
align-items: center;
margin-right: 10px;

}

#searchbaricon{
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
}

#searchtext p{
    text-align: left;
    padding-left: 10px;
    padding-right: 80px;
}


#filterbutton{
    border-radius: 50%;
    border: 1px darkgray solid;
    width: 40px;
    height: 40px;
    background-color: white;
}

#filtericon{
    width: 13px;
    height: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    padding: 0 10px;
}


#iconbar{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-x: auto;
}

#iconbar::-webkit-scrollbar {
    display: none;
  }

.iconimages{
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icontext{
    font-size: 12px;
}

#imagecontainer{
    padding-top: 160px;
}

.imagegrid{
    padding: 20px;
}

.imagegrid img{
    width: 342px;
    height: 342px;
    object-fit: cover;
    border-radius: 15px;
    position: relative;
}

.imagerating img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.imagerating{
    display: flex;
    justify-content: flex-end;  
    width: 100px;
    height: 0px;
    align-items: center;
    margin-left: 160px;
}


.buttoncontainer{
    position: absolute;
    z-index: 2;
}

.buttoncontainer img{
    width: 24px;
    height: 24px
}

.guestbutton{
    border-radius: 50px;
    border: 1px;
    border-color: #c7c7c7;
    background-color: white;
    width: 126px;
    height: 28px;
    margin-top: 14px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
}

.heartbutton{
    display: flex;
    justify-content: center;
    padding-left: 310px;
    margin-top: -30px;
    width: 24px;
    height: 24px;
    border-color: transparent;
    background-color: transparent;
}

.imageInfo{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 80%;
}


#footer{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 75px;
    padding-right: 75px;
    overflow-x: auto;
    box-shadow: 0px 1px 4px 4px #d1d1d1;
}

.footerlink{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footerimages{
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footertext{
    font-size: 12px;
}