*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
}

#navbar{
    box-shadow: 0px 1px 4px 0px #d1d1d1;
}

.searchbar{
    display: flex;
    padding: 14px 24px 0px;
    justify-content: space-around;
}

#searchbarbutton{
border: 1px #c7c7c7 solid;
border-radius: 50px;
border-color: white;
padding: 0px 4px;
box-shadow: 0px 1px 8px 1px #d1d1d1;
font-weight: 500;
color: black;
background-color: white;
display: flex;
align-items: center;

}

#searchbaricon{
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px;
}

#searchtext p{
    text-align: left;
    padding-left: 10px;
    padding-right: 80px;
}


#filterbutton{
    border-radius: 50%;
    border: 1px darkgray solid;
    width: 40px;
    height: 40px;
    background-color: white;
}

#filtericon{
    width: 13px;
    height: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    padding: 0 10px;
}


#iconbar{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-x: auto;
}

#iconbar::-webkit-scrollbar {
    display: none;
  }

.iconimages{
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icontext{
    font-size: 12px;
}